*.py[cod]

build
devel

profile.tmp
videos/full_video_high_play/full_video.png
videos/full_video_high_play/full_video.png
videos/full_video_high_play/full_video_high.html
videos/full_video_high_play/full_video_high_config.xml
videos/full_video_high_play/scripts/config_xml.js
videos/full_video_high_play/skins/remix/techsmith-smart-player.min.css
videos/full_video_high_play/scripts/techsmith-smart-player.min.js
videos/full_video_high_play/full_video_high_embed.css
videos/full_video_high_play/scripts/techsmith-smart-player.min.js
videos/full_video_high_play/full_video_high_player.html
videos/full_video_high_play/full_video_high.mp4
ros/src/tl_detector/tl_detector_bkp.py
ros/src/waypoint_updater/waypoint_updater_bkp.py
